body {
  font-family: Arial;
  background: #4facfe;
}

.app {
  text-align: center;
  margin-top: 50px;
}

.weather-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

.error {
  color: red;
}